<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Picture
        </th>
        <th>
            Price
        </th>
    </thead>
    <tbody>
        
        @for(int i=0;i < 5; i++)
        {
            @:<tr style="border-block: 1px solid black">
                <td>
                    <span>
                        Pizza @i
                    </span>
                </td>
                <td>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </td>
                <td>
                    <img src="https://img.pizza/150/150" alt="pizza{@i}">
                </td>
                <td>
                    <span>
                        @{int randomNumber = new Random().Next(9, 16);} @randomNumber,00 €
                    </span>
                </td>
            @:</tr>
        }
    </tbody>
</table>